<div class="col-lg-12 col-sm-12 bg-color">
  <div class="row">
    <div class="col-lg-8 col-sm-8">
      <img src="assets/img/bg.jpg" class="logo">
    </div>
    <div class="col-lg-4 col-sm-4">

      <div class="logincontents">
        <div>
          <img src="assets/img/logo@2x.png" class="center">
          <div class="container col-lg-offset-2 col-lg-8 col-lg-offset-2 col-sm-8 col-sm-8 col-sm-offset-2 mrt">
            <h2 class="bold">Login</h2>
            <form class="pad-height" autocomplete="off" #datas="ngForm" novalidate (ngSubmit)="signIn(data ,datas);">

              <div class="form-group  mr-b">
                <mat-form-field appearance="outline" class="mr-t">
                  <mat-label>Email ID</mat-label>
                  <input matInput type="text" name="email" [(ngModel)]="data.email" #email="ngModel"
                    placeholder=" Enter  E-Mail ID" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                </mat-form-field>
                <div class="md-errors-spacer" [hidden]="email.valid || email.untouched  && !datas.submitted">
                  <div *ngIf="email.errors && email.errors.required && datas.submitted" class="text-danger">
                    Email is required
                  </div>
                  <div *ngIf="email.errors && email.errors.pattern && datas.submitted" class="text-danger">
                    Email is invalid (example:******@gmail.com)
                  </div>
                </div>
              </div>

              <div class="form-group">
                <mat-form-field appearance="outline" class="mr-t">
                  <mat-label>Password</mat-label>
                  <input matInput type="password" name="Password" maxlength="15" [(ngModel)]="data.Password"
                    #Password="ngModel" placeholder=" Enter Password" required>
                </mat-form-field>
                <small class="md-errors-spacer" [hidden]="Password.valid || (Password.pristine && !datas.submitted)"
                  class="text-danger">
                  <b>It's Required .</b>
                </small>
              </div>

              <div class="form-group">
                <button type="submit" class="btn btn-default boldbtn">Log In</button>
              </div>

              <div class="form-group" class="btnalign pad-height">
                <a [routerLink]="['/authentication/forgot-password']" class="link">Forgot Password ?</a>
              </div>

            </form>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>